form * {
    text-align: left;
}

#contents {
    padding: 50px;
}

#heading {
    margin-bottom: 30px;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 48px;
    white-space: nowrap;
    overflow: hidden;
}

.btn-lg {
    margin-bottom: 20px;
}

.rememberme {
    padding-left: 450px;
}
