form * {
    text-align: left;
}

#contents1 {
    padding: 50px;
}

#heading {
    margin-bottom: 30px;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 48px;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    position: relative;
    bottom: 10px;
    font-size: 24px;
}

.btn-lg {
    margin-bottom: 20px;
}
