#signup-btn {
  background-color: #ec9b3b;
}

#signout-btn {
  background-color: #ec9b3b;
}

.nav-time.btn.btn-light {
  background: #f20e0e;
}

.bottom-border {
  border-bottom: .03571rem solid #e3e3e3;
}

#date-input {
  border-style: none;
  width: 100%;
  padding: 7px 16px;
  outline: none;
  line-height: 32px;
}

.color-background {
  background: linear-gradient(88deg, #ec9b3b 0%, #ffa73f);
  height: 370px;
}

@media (max-width: 575px) {
  .color-background {
    background: linear-gradient(88deg, #ec9b3b 0%, #ffa73f);
    height: 450px;
  }
}

.select-border {
  border-right: 0px solid #dee2e6!important;
}

@media (min-width: 575px) {
  .select-border {
    border-right: 1px solid #dee2e6!important;
  }
}

.input-section {
  display: flex;
  justify-content: center;
  border-style: none;
  border-right-style: none;
  width: 100%;
  border-radius: 12px;
  height: 78px;
}

@media (max-width: 575px) {
  .input-section {
    height: 280px;
  }
}

.search-input {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 40px;
  outline: none;
  background: white;
  border-radius: 12px;
  position: relative;
}

#keyword-input {
  height: 40px;
  width: 100%;
  border-style: none;
  outline: none;
}

#search-button {
  color: rgb(0,0,0);
  height: 40px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

#header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: var(--light);
  font-size: 30px;
  height: 140px;
  width: 100%;
}

@media (max-width: 575px) {
  #header-title {
    height: 80px;
  }
}

.shop-card-display {
  display: flex;
  overflow: auto;
  padding: 25px;
}

@media (max-width: 420px) {
  .shop-card-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    overflow: visible;
  }
}

.card.shop-card {
  border-radius: 20px;
  box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
  border-style: none;
  min-width: 250px;
  max-width: 250px;
  height: 360px;
  margin: 15px;
}

@media (max-width:420px) {
  .card.shop-card {
    margin: 7px !important;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    border-style: none;
    height: 150px;
    width: 100%;
    max-width: 100%;
    margin: 15px;
  }
}

.shop-card-button {
  display: flex;
  justify-content: center;
  background: #ec9b3b;
  border-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 2px 2px 8px rgba(117,117,117,0.71);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

@media (max-width: 420px) {
  .shop-card-button {
    display: none;
  }
}

.shop-card-rating {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ec9b3b;
}

.shop-card-name {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin-bottom: -9px;
  margin-top: 8px;
  color: #ec9b3b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 420px) {
  .shop-card-name {
    margin-bottom: -5px;
    font-size: 25px;
  }
}

.shop-card-type {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: rgb(81,89,98);
}

.shop-card-details {
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 20px;
}

@media (max-width: 420px) {
  .shop-card-details {
    height: 100%;
    padding-left: 10px;
  }
}

.card-body.shop-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
  padding: 0px;
  padding-bottom: 0px;
  width: 100%;
}

@media (max-width: 420px) {
  .card-body.shop-card-body {
    padding-right: 15px;
    height: 100%;
    width: 60%;
  }
}

.far.fa-heart.shop-card-favorite-icon {
  color: rgb(255,255,255);
  font-size: 100%;
}

.shop-card-favorite-button {
  border-style: none;
  background-color: rgb(208,99,110);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 2px 2px 20px -1px #757575;
}

.shop-card-favorite-button:hover {
  background-color: #fa8072;
}

.shop-card-favorite-button:focus {
  background-color: #fa8072;
}

.shop-card-favorite-button:active {
  background-color: #fa8072!important;
}


@media (max-width: 420px) {
  .shop-card-favorite-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}

.shop-card-favorite {
  position: absolute;
  right: 0;
  margin-right: 17px;
  top: 135px;
  z-index: 3;
}

@media (max-width: 420px) {
  .shop-card-favorite {
    top: initial;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.shop-card-image {
  background-size: 100%;
  width: 100%;
  height: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  background-position: center;
}

@media (max-width: 420px) {
  .shop-card-image {
    margin: 10px;
    margin-right: 0;
    width: 130px;
    height: 100%;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
  }
}

@media (max-width: 768px) {
  .main-1 {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .main-1 {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1250px) and (min-width: 993px) {
  .main-1 {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1251px) {
  .main-1 {
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#select-filters {
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 8px 20px rgba(33,37,41,0.19);
  background: #ffffff;
  margin-right: 0px;
  margin-left: 0px;
}

.card.search-section {
  position: relative;
  justify-content: center;
  width: 100%;
  border-style: none;
  border-radius: 12px;
  padding-top: 0px;
  height: 50px;
  background: rgba(255,255,255,0);
}

.card-body.row.search-section-row {
  position: relative;
  text-align: center;
  align-content: center;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(33,37,41,0.19);
  border-style: none;
  background: #ffffff;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding-right: 5px;
}

.btn.btn-primary.btn-sm.submit-icon {
  background: transparent;
  border-style: none;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.shop-card-location {
  font-family: 'Source Sans Pro', sans-serif;
  color: #212121;
}

@media (max-width: 420px) {
  .shop-card-location {
    display: none;
  }
}

.fas.fa-map-marker-alt {
  color: var(--secondary);
}

.shop-card a {
  position: absolute;
  height: 100%;
  width: 100%;
  text-decoration: none;
  z-index: 2;
}
