.date select{
  width: 32.4%
}

input {
	width: 100%
}
.login-text{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
}

.form-action {
  text-align:center;
}

.container {
	top: 270px;
	min-height: 250px;
}