#form-logo {
  width: 200px;
  height: 200px;
  background: url("../../assets/img/logo.png") center / contain no-repeat;
}

@media (max-width: 420px) {
  #form-logo {
    width: 150px;
    height: 150px;
  }
}

#privacy-header {
  display: flex;
  justify-content: center;
}

.div-main {
  margin: 30px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  justify-items: center;
  /*max-width: 1200px;*/
}

.paragraph-header {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  /*padding-bottom: 10px;*/
}

#email-link {
  text-align: center;
  /*width: 60%;*/
  justify-content: center;
  display: flex;
  justify-items: center;
}

.paragraph-header-top {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  /*padding-bottom: -10px;*/
  font-family: Roboto, sans-serif;
  font-style: normal;
}

#email-icon {
  /*width: 40%;*/
  padding-right: 5px;
  padding-top: 3px;
  color: var(--litepicker-is-end-color-bg);
  font-size: 20px;
  font-weight: 500;
}

.div-email {
  margin-top: -10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.description-text {
  /*display: flex;*/
  justify-content: center;
  justify-items: center;
  text-align: center;
  /*max-width: 1200px;*/
}

.list-group-item {
  margin-left: 150px;
  flex-wrap: wrap;
  width: 100%;
  display: block;
  justify-content: center;
  padding: inherit;
  justify-items: center;
  position: sticky;
}

.list-item {
  max-width: 500px;
  max- width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: left;
}

.div-list {
  max-width: 500px;
  display: block;
  justify-content: center;
  justify-items: center;
}

.div-class {
  display: flex;
  justify-content: center;
  justify-items: center;
  /*max-width: 1200px;*/
}

.outer-list-div {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: left;
}

