.content {
  margin: 1%;
}

.nav-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 30px;
}

.description {
  color: #2d2d2d;
  font-family: 'Roboto';
}

div.content > div {
  border-radius: 10px;
  background: #f7f7f7;
  padding: 10px 20px;
  margin: 20px 0;
  box-shadow: 0 4px 12px rgba(0,9,61,0.15) !important;
}

.email {
  color: #ec9b3b;
  text-decoration: none;
}

