#heading-left, #heading-right {
    margin-bottom: 10px;
    height: 200px;
}

#heading-right form {
    margin: 15px 0;
}

.nav-pills .nav-link {
    margin: 5px 5px;
    color: white!important;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-pills .active {
    background-color: grey!important;
}

.card-body * {
    color: black;
}

.grey-text {
    color: #BDBDBD
}

.white-text {
    color: #FFFFFF
}

.checked {
  color: orange;
}

.rate-hr {
	width: 80%;
	margin: auto;
}

.uname{
	margin-top: 10px;
}