:root {
  --shadow-color: #00093d;
  --shadow: rgba(var(--shadow-color), .2);
  --icon-y: -4px;
  --shadow-blur: 16px;
}

#contents {
  padding-bottom: 2.5rem;
}

body {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none !important;
}

.navbar.navbar-light.navbar-expand-md {
  background: white;
  box-shadow: none !important;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px -20px 20px 11px;
}

@media (min-width: 1350px) {
  .navbar.navbar-light.navbar-expand-md {
    background: transparent !important;
  }
}

#nav-list.show {
  background: transparent;
}

#signup-btn {
  background-color: transparent;
  border-color: #ec9b3b;
}

.nav-item a {
  color: rgb(0,0,0) !important;
  margin: 5px;
}

.navbar-toggler {
  border-style: none;
}

#signout-btn {
  background-color: transparent;
  border-color: #ec9b3b;
}

@media (max-width: 420px) {
  .container-fluid {
    position: relative;
    top: 25px;
  }
}

@media (max-width: 420px) {
  .navbar * {
    display: none;
    z-index: 1;
  }
}

@media (max-width: 420px) {
  .navbar .nav-logo {
    padding: 0;
    margin: 0;
    position: absolute;
    visibility: hidden;
    display: initial;
  }
}

@media (max-width: 420px) {
  .navbar .nav-logo:before {
    margin: 10px;
    padding: 0 10px;
    border-radius: 10px;
    background: #fff;
    visibility: visible;
    content: "Back";
    display: initial;
    position: absolute;
    color: black;
  }
}

@media (max-width: 420px) {
  .navbar {
    padding: 0;
    z-index: 1;
  }
}


#shop-header {
  height: 555px;
}

@media (max-width: 420px) {
  #shop-header {
    height: 280px;
    margin-bottom: 400px !important;
  }
}

#blur-cover-img {
  position: absolute !important;
  filter: blur(45px) !important;
  opacity: 0.50;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top: 1%;*/
}

#shop-thumbnail {
  max-width: 1440px;
  position: relative;
  align-items: flex-start;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  /*margin: 1%;*/
}

@media (max-width: 1350px) {
  #shop-thumbnail {
    width: 100%;
    margin: 0px;
  }
}

#cover-img {
  width: 95%;
  filter: blur(0px);
  opacity: 1;
}

#cover-img, #blur-cover-img {
  background-size: cover;
}

@media (min-width: 1351px) {
  #cover-img, #blur-cover-img {
    height: 100%;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: 100% 100%;*/
  }
}

@media (max-width: 1350px) {
  #cover-img, #blur-cover-img {
    height: 100%;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: 100% 100%;*/
  }
}

@media (max-width: 420px) {
  #cover-img, #blur-cover-img {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(80%) !important;
  }
}

@media (max-width: 420px) {
  #cover-img, #blur-cover-img {
    width: 100% !important;
  }
}

#shop-image-content {
  display: flex;
  justify-content: center;
  height: 100%;
}

.rsrv-btn {
  height: 48px;
  width: 100%;
  font-size: 16px !important;
}

@media (max-width: 860px) {
  .rsrv-btn {
    font-size: 13.5px !important;
  }
}

@media (max-width: 768px) {
  .rsrv-btn {
    font-size: 16px !important;
  }
}

.rsrv-btn:hover {
  color: black !important;
}

@media (min-width: 768px) {
  #date-req-input:hover {
    box-shadow: 0 8px 16px rgba(0,9,61,0.2) !important;
  }
}

@media (min-width: 768px) {
  #date-req-input:focus {
    box-shadow: 0 8px 16px rgba(0,9,61,0.2) !important;
  }
}

@media (min-width: 768px) {
  #date-req-input:active {
    transform: scale(0.96) translateZ(0) !important;
  }
}

@media (min-width: 768px) {
  #date-req-input {
    transition: transform .3s, box-shadow .3s !important;
    box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
  }
}

#date-req-input {
  height: 48px;
  width: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-appearance: none;
  border-style: none;
  padding: 0 15px;
  outline: none;
  border-radius: 10px;
  color: black;
  background: white;
}

@media (max-width: 767px) {
  #date-req-input {
    box-shadow: 0 2px 6px rgba(0,9,61,0.05) !important;
  }
}

@media (min-width: 768px) {
  .select2-selection.select2-selection--single:focus {
    box-shadow: 0 8px 16px rgba(0,9,61,0.2) !important;
  }
}

@media (min-width: 768px) {
  .select2-selection.select2-selection--single:hover {
    box-shadow: 0 8px 16px rgba(0,9,61,0.2) !important;
  }
}

@media (min-width: 768px) {
  .select2-selection.select2-selection--single {
    transition: transform .3s, box-shadow .3s !important;
    box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
  }
}

@media (max-width: 767px) {
  .select2-selection.select2-selection--single {
    box-shadow: 0 2px 6px rgba(0,9,61,0.05) !important;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #ffffff;
  border: none;
}

.req-inputs {
  width: 100% !important;
  display: flex;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1350px) {
  .req-inputs {
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .req-inputs {
    flex-wrap: wrap;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
  }
}

@media (max-width: 420px) {
  .req-inputs {
    width: 100% !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    border-radius: 40px !important;
    padding-top: 50px;
    height: 400px;
    box-shadow: initial !important;
  }
}

@media (max-width: 767px) {
  .req-inputs .col {
    margin: 5px;
    flex-basis: 100%;
    width: 0;
  }
}

.shop-profile {
  display: flex;
  position: relative;
  justify-content: flex-start;
  margin-right: 5%;
}

@media (max-width: 1350px) {
  .shop-profile {
    margin-right: 0px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: .03571rem solid #e3e3e3;
  }
}

@media (max-width: 767px) {
  .shop-profile {
    margin-right: 0px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: none;
  }
}

@media (max-width: 420px) {
  .shop-profile {
    z-index: 1;
    margin-right: 0px;
    margin-bottom: -50px;
    padding-bottom: 0px;
    border-bottom: none;
  }
}

.under-thumb-content {
  border: none;
  border-radius: 100px;
  background-color: white;
  width: 100%;
  margin: -75px;
  display: flex;
  box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
}

@media (max-width: 1350px) {
  .under-thumb-content {
    background: none;
    width: 100%;
    margin: -75px;
    display: inline;
    height: 150px;
    box-shadow: none !important;
  }
}

@media (max-width: 767px) {
  .under-thumb-content {
    background: none;
    width: 100%;
    margin: -63px;
    display: inline;
    height: 126px !important;
    box-shadow: none !important;
  }
}

@media (max-width: 420px) {
  .under-thumb-content {
    background: none;
    width: 100%;
    margin: -50px;
    display: inline;
    height: 100px !important;
    box-shadow: none !important;
    margin-bottom: -35px;
  }
}

.under-thumb {
  height: 100%;
  z-index: 1;
  display: flex;
  position: absolute;
  width: 90%;
  align-items: flex-end;
  justify-content: space-evenly;
}

@media (max-width: 420px) {
  .under-thumb {
    height: 100%;
    width: 100%;
  }
}

#shop-image {
  height: 150px;
  overflow: visible;
  box-shadow: 0 0px 4px rgba(0,9,61,0.2) !important;
}

@media (max-width: 767px) {
  #shop-image {
    height: 126px;
  }
}

@media (max-width: 420px) {
  #shop-image {
    height: 100px;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: black !important;
  background-color: transparent !important;
  border-color: white !important;
}

header {
  margin-bottom: 90px;
}

@media (max-width: 1350px) {
  header {
    margin-bottom: 200px !important;
  }
}

@media (max-width: 767px) {
  header {
    margin-bottom: 350px !important;
  }
}

.slider {
  display: flex;
  justify-content: center;
  height: 240px;
  align-items: center;
}

.slick-slide {
  width: 250px !important;
}

#photos {
  max-width: 1440px;
  width: 100%;
  height: 200px;
  margin: 20px auto;
  overflow: hidden;
}

#photos img {
  width: 200px !important;
  height: 200px !important;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.map-clean {
  display: flex;
  justify-content: center;
}

.map-clean .frame {
  border-radius: 25px !important;
}

@media (min-width: 1200px) {
  .map-clean .frame {
    height: 300px;
    width: 500px;
  }
}

@media (min-width: 768px) {
  .map-clean .frame {
    height: 250px;
    width: 425px;
  }
}

@media (max-width: 767px) {
  .map-clean .frame {
    height: 200px;
    min-width: 400px;
  }
}

@media (max-width: 420px) {
  .map-clean .frame {
    padding: initial !important;
    min-width: initial;
    height: 200px;
    width: 100%;
    border-radius: 0 !important;
  }
}

@media (max-width: 420px) {
  #location-hours .row {
    width: 100% !important;
  }
}

#location-hours .row {
  max-width: 1000px !important;
}

#location-hours .col {
  padding-left: 0;
  padding-right: 0;
}

.information {
  display: flex;
  justify-content: center;
}

#location-hours {
  display: flex;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  justify-content: center;
}

.intro {
  text-align: center;
  width: 50%;
}

@media (min-width: 1200px) {
  .intro {
    text-align: center;
    width: 50%;
  }
}

@media (max-width: 1350px) {
  .intro {
    text-align: center;
    width: 60%;
  }
}

@media (max-width: 767px) {
  .intro {
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 420px) {
  .intro {
    text-align: center;
    width: 95%;
  }
}

.intro h2 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.intro h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:1350px) {
  .intro h2 {
    margin-bottom: 25px !important;
    padding-top: 0 !important;
    font-size: 24px;
  }
}

@media (max-width:767px) {
  .intro h2 {
    margin-bottom: 25px;
    font-size: 24px;
  }
}

.intro p {
  color: #7d8285;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dateTime {
  color: #7d8285;
  display: flex;
  justify-content: center;
  padding: 0px !important;
  flex-wrap: wrap;
  width: 400px;
}

.right-border {
  border-right: .03571rem solid #d6d6d6;
}

.line-border {
  width: 60%;
  border-width: .03571rem;
}

.day {
  width: 300px;
}

@media (max-width: 1179px) {
  #location-hours .col {
    padding-bottom: 50px;
  }
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.cards-w {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

@media (max-width: 767px) {
  .cards-w {
    width: 90%;
  }
}

.event-card {
  position: relative;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  height: 200px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

@media (max-width: 420px) {
  .event-card {
    justify-content: center;
    width: 200px;
    height: 100%;
    flex-wrap: wrap;
  }
}

.event-date {
  width: 100%;
  max-width: 170px;
  height: 100%;
  max-height: 200px;
  border-radius: 15px;
  background: #e1e7ff;
  box-shadow: 0 0px 12px rgba(0,9,61,0.08) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 420px) {
  .event-date {
    height: 170px;
  }
}

h1, h2, h3, h4 {
  text-align: center;
}

.event-date h1 {
  width: 100%;
  text-align: center;
  font-family: 'Coda Caption', sans-serif;
  font-weight: 700;
  font-size: 85px;
  margin-bottom: -80px;
}

.event-date h4 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.event-card .col-md-5 {
  padding: 0;
  max-width: 180px;
  display: flex;
  align-items: center;
}

.event-card .col-md-7 {
  padding-left: 0 !important;
}

.event-det {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #7d8285;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 40%;
  line-height: 1.4em;
}

.event-info {
  padding-left: 15px;
  width: 100%;
  height: 170px;
}

@media (max-width: 520px) {
  .event-info {
    display: flex;
    padding-left: 15px;
    width: 100%;
    height: 170px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .event-info {
    padding-left: 0;
    margin: 0;
    margin-top: 15px;
	height: 100%;
  }
}

@media (max-width: 520px) {
  .event-info .event-det {
    display: none;
  }
}

.event-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  z-index: 2;
}

@media (max-width: 520px) {
  .event-link {
    display: none;
  }
}

.event-link-btn {
  width: 120px;
  background: rgba(0,123,255,0);
  color: rgb(0,0,0);
  border-color: var(--dark);
  border-radius: 20px;
}

.tab-content {
  min-height: 500px;
}

.swiper-pagination {
  bottom: -10px !important;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  background-color: #000000;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.event-card a {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#event-info-modal {
  background: rgba(64,64,64,0.35);
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
}

.modal-content {
  background-color: white;
  width: 100%;
  border-radius: 15px;
  border-style: none;
  box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-exit {
  position: absolute;
  border-style: none;
  padding: 0;
  color: black;
  background: transparent;
  right: 0;
  top: 0;
  margin-right: 10px;
  font-size: 20px;
}

.modal-exit:hover, .modal-exit:focus {
  color: black;
  background-color: transparent;
}

.event-link-btn:hover, event-link-btn:focus {
  color: black;
  background-color: transparent;
  border-color: #ec9b3b;
  box-shadow: 0 8px 12px rgba(0,9,61,0.1) !important;
  transition: transform .3s, box-shadow .3s !important;
}

#modal-event-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-event-range {
  background: #F5F5F5;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  user-select: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
}

.modal-event-date {
  width: 120px;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Coda Caption', sans-serif;
  font-weight: 400;
  flex-wrap: wrap;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2), 3px 3px 5px 0 rgba(0, 0, 0, 0.15);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-info-border {
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  color: #5f5f5f;
  display: block;
  font-size: 13px;
  box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
  background: #d5e1ff;
  margin-bottom: 10px;
}

#modal-event-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 4px 12px rgba(0,9,61,0.1) !important;
  transition: transform .3s, box-shadow .3s !important;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #5f5f5f;
  padding: 5px;
}

#modal-event-link:hover, #modal-event-link:focus {
  box-shadow: 0 8px 16px rgba(0,9,61,0.2) !important;
}

.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.s-around {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reviews-section {
  width: 100%;
  max-width: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.reviews-card {
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
  padding: 20px;
}

.reviews-users {
  width: 100%;
}

.reviews-user {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #5f5f5f;
  line-height: 30px;
}

.reviews-submited {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #a2a2a2;
  font-size: 15px;
  line-height: 15px;
  padding-left: 5px;
}

.reviews-content {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff5f5;
}

.reviews-rating {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
}

.review-create-btn {
  margin: 10px;
  background-color: white !important;
  border-color: transparent !important;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,9,61,0.1) !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #525252 !important;
}

.review-create-btn:hover, review-create-btn:focus {
  color: black !important;
  background-color: transparent;
  border-color: #ec9b3b !important;
  box-shadow: 0 8px 12px rgba(0,9,61,0.2) !important;
  transition: transform .3s, box-shadow .3s !important;
}

#review-modal {
  background: rgba(64,64,64,0.35);
}

.reviews-rate {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  color: #ec9b3b;
}

.reviews-rate label {
  margin: 0;
}

.modal-rate {
  padding: 5px;
  direction: rtl;
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  background-color: #ebebeb;
  border-radius: 10px;
}

.modal-rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.modal-rate:not(:checked) > label {
  float: right;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.modal-rate:not(:checked) > label:before {
  content: "\f005";
}

.modal-rate > input:checked ~ label {
  content: "\f005";
  font-weight: 900 !important;
}

.modal-rate:not(:checked) > label:hover, .modal-rate:not(:checked) > label:hover ~ label {
  color: #ec853b;
}

.modal-rate > input:checked + label:hover, .modal-rate > input:checked + label:hover ~ label, .modal-rate > input:checked ~ label:hover, .modal-rate > input:checked ~ label:hover ~ label, .modal-rate > label:hover ~ input:checked ~ label {
  color: #ec853b;
}

#modal-content-input {
  width: 100%;
  border-radius: 10px;
  border-style: none;
  background-color: #fff5f5;
  padding: 10px;
}

.modal-content h2 {
  font-weight: 500;
  margin: 0;
}

.review-btn {
  padding: 10px !important;
  margin-top: 7px;
}
