html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#contents {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1 0 auto;
}

.myform {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  margin: 10px;
  display: block;
  width: 100%;
  max-width: 900px;
  background-color: #f8f8ff;
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;
}

.form-row-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#form-logo {
  width: 150px;
  height: 150px;
  background: url("../images/logo.png") center / contain no-repeat;
}

.input-div {
  margin-bottom: 10px;
  width: 45%;
  min-width: 250px;
}

.input-span {
  width: 100%;
  font-weight: 550;
}

.input-field {
  width: 100%;
  background: rgba(211,217,223,0.41);
  border-radius: 19px;
  /*box-shadow: 0 4px 12px rgba(0,9,61,0.2) !important;*/
}

.input-div.div-telcode {
  width: 25%;
  min-width: 55px;
}

.input-div.div-tel {
  width: 75%;
  min-width: 130px;
}

.input-div.input-div-code_tel {
  display: inline-flex;
}

.form-control.input-field.input-telcode {
  text-align: center;
}

#signup-btn2 {
  height: 42px;
  width: 20%;
  min-width: 110px;
  margin-top: 30px;
  margin-bottom: 20px;
  background: #ec9b3b;
  border: inherit;
  border-radius: 21px;
}

#signup-btn2:hover {
  color: black;
  background-color: #f09324;
}

.form-row-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-paragraph {
  margin-bottom: 0px;
  text-align: center;
}

#signup-btn {
  background-color: #ec9b3b;
}

#signout-btn {
  background-color: #ec9b3b;
}

.header-paragraph {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1.8px solid #aaaaaa;
  margin-top: 10px;
}

.input-city {
  width: 20%;
  min-width: 100px;
}

.input-address {
  width: 70%;
  min-width: 250px;
}

.input-postcode {
  width: 20%;
  min-width: 100px;
}

