.control__indicator {
  transition: all 0.35s ease;
}
.custom-check:hover input ~ .control__indicator, .custom-check input:focus ~ .control__indicator {
  background: #dad8d8;
}
.custom-check input:checked ~ .control__indicator {
  background: #efefef;
}
.custom-check:hover input:not([disabled]):checked ~ .control__indicator, .custom-check input:checked:focus ~ .control__indicator {
  background: #efefef;
}
.custom-check input:disabled ~ .control__indicator {
  background: white;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-check input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}