.date select{
  width: 32.4%
}

.login-text{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
}

.form-action {
  text-align:center;
}

#l1,#fname{
  float: left;
}
#lname{
  margin-left: 35%;
}

#l2{
   margin-left: 36.5%;
}

.container {
	top: 500px;
}

#shop_owner {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #f7b733;
}