* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

h1, h2, h3, h4, h5, small, .form-text {
    color: white;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 48px;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    font-size: 26px;
    font-weight: bold;
    text-shadow: 2px 2px #343A40;
}

h4 {
    text-align: left;
    font-weight: bold;
}

h5 {
    text-align: left;
    font-size: 14px;
    font-weight: italic;
}

nav {
    background-color: transparent;
}

hr {
    background-color: white;
}

a {
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Lobster Two', cursive;
    font-size: 26px;
}

.nav-item {
    margin-left: 5px;
}

.container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
    background: white;
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
}

.day-text {
    font-family: monospace;
}

.reservation-table {
    padding: 0px;
    margin-bottom: 50px;
}

.reservation-table a {
    color: black;
    font-weight: bold;
}

.input-group-text .fas {
    color: #343A40;
}

.datepicker * {
    color: black;
}

/*.popover-title * {
    color: grey;
}

.popover-title .text-primary {
    color: black!important;
}*/

input[readonly] {
  background-color: white!important;
}

/*.popup {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}*/

#heading {
    margin-bottom: 30px;
}

#contents {
    padding: 50px;
}

#footer a {
    color: grey;
}

#footer a:hover {
    color: white;
}

#privacy-text {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    word-wrap: break-word;
}

#loading {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: white;
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    z-index:99;
}

#loading-image {
    width:80px;
    height:80px;
    position:absolute;
    left:50%;
    top:50%;
    background-repeat:no-repeat;
    background-position:center;
    margin:-40 0 0 -40;

}



@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

:root {
  --border-radius-size: 14px;
}

.shop-display {
	padding: 15px;
    margin-bottom: 40px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;

	font: 14px/20px "Lato", Arial, sans-serif;
	color: #9E9E9E;
	text-align: center;
}

.shop-card{
  box-sizing: border-box;
  background: white;
  width: 250px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 20px -12px black;
  z-index: 9999;
  margin: 15px;

  flex-grow: 1;
  overflow-y: scroll;
}

.shop-type{
	color: grey;
}

.shop-card:hover {
    color: #FF5A00;
}

.shop-image{
	position: relative;
	min-width: 100%;
	min-height: 100%;
	max-width: 250px;
    max-height: 250px;
	border-top-left-radius: var(--border-radius-size);
	border-top-right-radius: var(--border-radius-size);
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  border-left:1em solid transparent;
  border-right:1em solid transparent;
  text-overflow: ellipsis;
  padding: 10px;
  font-size: 25px;
  color: black;
  font-weight: 900;
  margin-bottom: 10px;
}

.shop-all-details {
  box-shadow: -1px -2px 20px -12px black;
  background: #EC9B3B;
  color: white;
  font-weight: 900;
  border-bottom-left-radius: var(--border-radius-size);
  border-bottom-right-radius: var(--border-radius-size);
  padding: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.shop-details {
  font-size: 15px;
  padding: 10px 15px;
}

.half{
	width: 50%;
	float: left;
}

/*@media (max-width : 500px) {
    #contents{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0px;
    }
    .container-fluid {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
    .shop-card {
        color: black;
        display: inline-block;
        height: 12rem;
        width: 7rem;
        margin: 5px;
    }

    .card-body{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 2px;
    }

    .list-group-item{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0px;
    }

    .shop-display {
        margin: 0 auto;
    }
}*/

@media (min-width: 768px) {
  #popup-alert {
    justify-content: start;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    border-radius: 23px;
    background: #262626;
    z-index: 1000;
    padding-left: 17px;
    top: 65px;
    right: 0;
    margin: 15px;
    margin-bottom: 20px;
    width: 90%;
    height: 70px;
    box-shadow: 0px 0px 20px 0px rgba(33,37,41,0.67);
    border-style: none;
    color: white;
    padding: 17px;
  }
}

@media (max-width: 767px) {
  #popup-alert {
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    border-radius: 23px;
    background: #262626;
    z-index: 1000;
    padding-left: 17px;
    bottom: 0;
    margin-bottom: 20px;
    width: 90%;
    height: 70px;
    box-shadow: 0px 0px 20px 0px rgba(33,37,41,0.67);
    border-style: none;
    color: white;
    padding: 17px;
  }
}

#danger-popup {
  font-size: 45px;
  color: var(--danger);
}

#success-popup {
  font-size: 45px;
  color: #9dd57c;
}





