input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.navbar.navbar-light.navbar-expand-md {
  background: white;
  box-shadow: none !important;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px -20px 20px 11px;
}

@media (min-width: 1350px) {
  .navbar.navbar-light.navbar-expand-md {
    background: transparent !important;
  }
}

#nav-list.show {
  background: transparent;
}

.nav-item a {
  color: rgb(0,0,0) !important;
  margin: 5px;
}

.nav-item a:hover {
  transition: 0.3;
  color: orange!important;
}

.navbar-brand.nav-logo {
  font-family: Lobster Two;
  font-size: 26px;
  /*color: #EC9B3B;*/
}

.navbar-brand:hover {
  transition: 0.5 !important;
  color: #ec9b3b !important;
}

.navbar-toggler {
  border-style: none;
}

.option-title {
    color: red;
}

#signin-btn:hover {
  font-weight: bold;
}

#signout-btn, #signup-btn {
  background-color: transparent;
  border-color: #ec9b3b;
}

#signout-btn:hover, #signup-btn:hover {
  transition: 0.3;
  background-color: #ec9b3b;
  color: black!important;
}

#footer {
  display: flex;
  background: #343a40;
  align-items: center;
  justify-content: center;
  height: 91px;
}

#footer-privacy {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: rgb(255,255,255);
  justify-content: center;
}

.top-border {
  border-top: .03571rem solid #fefefe;
  opacity: .25;
}

#footer-copyright {
  color: rgb(255,255,255);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

#popup-alert {
  z-index: 999999 !important;
}

@media (min-width: 768px) {
  #popup-alert {
    justify-content: start;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    border-radius: 23px;
    background: #262626;
    z-index: 1000;
    top: 65px;
    right: 0;
    margin: 15px;
    margin-bottom: 20px;
    width: 90%;
    height: 70px;
    box-shadow: 0px 0px 20px 0px rgba(33,37,41,0.67);
    border-style: none;
    color: white;
    padding: 17px;
  }
}

@media (max-width: 767px) {
  #popup-alert {
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    border-radius: 23px;
    background: #262626;
    z-index: 1000;
    padding-left: 17px;
    bottom: 0;
    margin-bottom: 20px;
    width: 90%;
    height: 70px;
    box-shadow: 0px 0px 20px 0px rgba(33,37,41,0.67);
    border-style: none;
    color: white;
  }
}

#success-popup {
  font-size: 45px;
  color: #9dd57c;
}

#danger-popup {
  font-size: 45px;
  color: var(--danger);
}

.center-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

:root {
  --litepicker-is-start-color-bg: #ec9b3b !important;
  --litepicker-is-end-color-bg: #ec9b3b !important;
  --litepicker-button-prev-month-color-hover: #ec9b3b !important;
  --litepicker-button-next-month-color-hover: #ec9b3b !important;
  --litepicker-day-color-hover: #ec9b3b !important;
  --litepicker-is-today-color: #ec9b3b !important;
}

#loading {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#loading-image {
    width:80px;
    height:80px;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
/*    left:50%;
    top:50%;
    margin:-40 0 0 -40;*/
}

/* SELECT2 THEME START */

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 46px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  white-space: nowrap;
  padding: .5rem 1rem;
  outline: 0;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-dropdown {
  background-color: #fff;
  border: transparent;
  border-radius: .5rem;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.select2-results {
  display: block;
  line-height: 35px !important;
}

@media (max-width: 420px) {
  .select2-results {
    display: block;
    line-height: 50px !important;
  }
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 24px;
}

.select2-results__option {
  padding: 0 0 4px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  font-size: 16px;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
  background-color: transparent;
}

.select2-container--open .select2-dropdown {
  left: 0;
  /*top: 10px;*/
}

.select2-container--open .select2-dropdown--above {
  border-radius: 10px;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 10px;
}

.select2-search--dropdown {
  display: block;
  padding: 14px;
}

.select2-search--dropdown .select2-search__field {
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
}

.select2-hidden-accessible {
  border: 0!important;
  clip: rect(0 0 0 0)!important;
  -webkit-clip-path: inset(50%)!important;
  clip-path: inset(50%)!important;
  height: 1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
  white-space: nowrap!important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: none;
  border-radius: .5rem;
  outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #343a40;
  font-size: 16px;
  line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: 700;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #212529;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
  height: 32px;
  position: absolute;
  top: 6px;
  right: 16px;
  width: 21px;
}

/* ..select2-container--default .select2-selection--single .select2-selection__arrow b:before {  position: absolute;  font-family: "Material Design Icons";  font-weight: 900;  display: inline-block;  font-size: 20px;  line-height: 32px;  color: #212529;  content: "\F0140";  font-style: initial;  transition: transform .3s;  transform: translate3d(0, 0, 0) rotate(0);  left: 6px;} */

.select2-container--default .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #eeeffd;
  border-radius: .5rem;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #212529;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: 700;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #212529;
  border: 1px solid #eaeaf2;
  border-radius: .5rem;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #212529;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #e3e2e7;
  border-radius: .5rem;
  outline: 0;
  background-color: transparent;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: 0 0;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 250px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent;
  border-radius: .5rem;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparent;
  color: #ec9b3b;
  border-radius: .5rem;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

/* .select1-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {  left: 1px;  right: auto;} */

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #dee2e6;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #dee2e6;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

/* .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {  transform: translate3d(0, 0, 0) rotate(180deg);} */

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #000 1px;
  outline: 0;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.select2-container--classic .select2-selection--single {
  background-color: #6c757d;
  border: 1px solid #eeeffd;
  border-radius: .5rem;
  outline: 0;
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #eaeaf2;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #212529;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: 700;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #212529;
}

/* .select2-container--classic .select2-selection--single .select2-selection__arrow {  background-color: #343a40;  border: none;  border-left: 1px solid #aaa;  border-top-right-radius: 4px;  border-bottom-right-radius: 4px;  height: 26px;  position: absolute;  top: 1px;  right: 1px;  width: 20px;  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);  background-repeat: repeat-x;}.select2-container--classic .select2-selection--single .select2-selection__arrow b {  border-color: #dee2e6;  border-style: solid;  border-width: 5px 4px 0 4px;  height: 0;  left: 50%;  margin-left: -4px;  margin-top: -2px;  position: absolute;  top: 50%;  width: 0;} */

.select2-container--classic .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #eaeaf2;
  border-radius: .5rem;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #0f2bee;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #212529;
  border: 1px solid #eaeaf2;
  border-radius: .5rem;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #212529;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: #212529;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #ec9b3b;
  color: #fff;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

/* .select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {  border: none;  border-right: 1px solid #aaa;  border-radius: 0;  border-top-left-radius: 4px;  border-bottom-left-radius: 4px;  left: 1px;  right: auto;} */

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #eaeaf2;
}

/* .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {  background: 0 0;  border: none;}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {  border-color: #dee2e6;  border-width: 0 4px 5px 4px;} */

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #eaeaf2;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #dee2e6;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom, #fff 0, #eee 50%);
  background-repeat: repeat-x;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-results__options::-webkit-scrollbar {
  width: 16px;
  background-clip: padding-box;
}

.select2-results__options::-webkit-scrollbar-track {
  background-color: #e9ecef;
  height: 8px;
  background-clip: padding-box;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #ced4da;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.select2-results__options::-webkit-scrollbar-button {
  display: none;
}

.search-form .select2-container--default .select2-selection--single {
  border: transparent;
}

/* SELECT2 THEME END */
