* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

h1, h2, h3, h4, h5, small, .form-text {
    color: white;
}

h5 {
    text-align: left;
    font-weight: bold;
}

nav {
    background-color: transparent;
}

hr {
    background-color: white;
}

a:hover {
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Lobster Two', cursive;
    font-size: 26px;
}

.nav-item {
    margin-left: 5px;
}

.container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
}

.input-group-text .fas {
    color: #343A40;
}

.datepicker * {
    color: black;
}

.popover-title * {
    color: grey;
}

.popover-title .text-primary {
    color: black!important;
}

input[readonly] {
  background-color: white!important;
}

.popup {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
